<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>"Editor"</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.924905404484-r1u0mkaghgge6nf3mi900gc3m8kf1o5m</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PPEditorialNew-Italic.otf</string>
		<string>PPEditorialNew-Regular.otf</string>
		<string>PPEditorialNew-Ultrabold.otf</string>
		<string>PPEditorialNew-Ultrabolditalic.otf</string>
		<string>PPEditorialNew-Ultralight.otf</string>
		<string>PPEditorialNew-Ultralightitalic.otf</string>
		<string>PPNeueMontreal-Bold.otf</string>
		<string>PPNeueMontreal-Book.otf</string>
		<string>PPNeueMontreal-Italic.otf</string>
		<string>PPNeueMontreal-Medium.otf</string>
		<string>PPNeueMontreal-SemiBolditalic.otf</string>
		<string>PPNeueMontreal-Thin.otf</string>
	</array>
</dict>
</plist>
